<div class="card" [appHighlightActive]="groupToggleState">
  <div class="card-head">
    <h2>{{ card.title }}</h2>

    @if (showGroupToggle) {
    <mat-slide-toggle [checked]="groupToggleState" (change)="onGroupToggle($event.checked)">
    </mat-slide-toggle>
    }
  </div>

  <div
    class="card-body"
    [ngClass]="{
      'horizontal-layout': card.layout === 'horizontalLayout',
      'vertical-layout': card.layout === 'verticalLayout',
      'single-device-layout': card.layout === 'singleDevice'
    }"
  >
    @if (card.items.length) { @switch (card.layout) { @case ('horizontalLayout') { @for (item of
    card.items; track $index) {
    <ng-container
      *ngTemplateOutlet="itemTpl; context: { item, index: $index, orientation: 'horizontal' }"
    >
    </ng-container>
    } } @case ('verticalLayout') { @for (item of card.items; track $index) {
    <ng-container
      *ngTemplateOutlet="itemTpl; context: { item, index: $index, orientation: 'vertical' }"
    >
    </ng-container>
    } } @case ('singleDevice') { @for (item of card.items; track $index) {
    <ng-container
      *ngTemplateOutlet="itemTpl; context: { item, index: $index, orientation: 'vertical' }"
    >
    </ng-container>
    } } @default { @for (item of card.items; track $index) {
    <div class="card-item vertical">
      <p>{{ item.label }}</p>
    </div>
    } } } } @else {
    <p>No items</p>
    }
  </div>
</div>

<ng-template #itemTpl let-item="item" let-index="index" let-orientation="orientation">
  <div class="card-item" [ngClass]="orientation">
    <div
  class="icon-label-group"
  [ngClass]="{
    'reverse-column': orientation === 'horizontal'
  }"
>
      <mat-icon class="icon" [ngClass]="{ 'device-on': isDevice(item) && item.state }">
        {{ item.icon }}
      </mat-icon>
      <p>{{ item.label }}</p>
    </div>

    @if (isSensor(item)) {
    <p>{{ item.value | sensorValue }}</p>
    } @if (isDevice(item)) {
    <mat-slide-toggle [checked]="item.state" (change)="onDeviceToggle(index, $event.checked)">
    </mat-slide-toggle>
    }
  </div>
</ng-template>
