
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
   @include mat.tabs-overrides((
    container-height: 56px,
    active-indicator-height: 3px,
    active-indicator-color: #ffffff,
    active-ripple-color: #ffffff,

    active-label-text-color: #ffffff,
    inactive-label-text-color: #979797,
    inactive-hover-label-text-color: #cacaca,
    inactive-focus-label-text-color: #ffffff,
    active-focus-label-text-color: #ffffff,

    active-hover-indicator-color: #ffffff,
    active-focus-indicator-color: #ffffff,

    divider-height: 0,
    divider-color: transparent,

    background-color: #ff0000,
    foreground-color: #ff0000,

    label-text-size: 14px,
    label-text-weight: 500,
  ));

}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p { 
    color: #dddddd;
  font-size: 0.95rem;
   font-weight: 500;
}
